body {
  padding-top: 125px;
}

.centerPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.invert-butt {
  float: right;
}

.normal {
	filter: invert(0%);
}

.inverted {
	filter: invert(100%);
}
