body {
  padding-top: 125px;
}

.centerPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.invert-butt {
  float: right;
  padding-top: 2em;
}

.normal {
	filter: invert(0%);
}

.invert {
  background-color: black;
  -webkit-filter: invert(100%);
}
