<div class="row">
  <div class="col-sm-4">
    <ul>
      <li ng-repeat="review in reviews">
      <h4><a ui-sref="reviews.reviewDetail({reviewId: review.id})"> {{ review.title }} </a></h4>
      </li>
    </ul>
  </div>

  <div class="col-sm-7 movie-input">

    <!--This will display the review once a reivew is clicked on  -->
    <div ui-view="body"></div>
    <!-- End of displaying review -->

    <h3>Create a Movie Review</h3>
      <form ng-submit="ReviewsFactory.addReview()" role="form">
        <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Name of movie...."></input> <br>
        <textarea ng-model="ReviewsFactory.reviewMovie" rows="5" class="form-control" placeholder="Place your review here..."></textarea> <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
</div>
