<div class="container">
  <a href="#">Movie review links here</a> <br>
  <a href="#">Movie review links here</a> <br>
  <a href="#">Movie review links here</a> <br>
  <a href="#">Movie review links here</a> <br>



  <p>
    <!-- Need something here in order to show the movie review after its submitted.  -->
  </p>


  <!-- This will be towards the bottom of the page  -->
<div class="col-sm-9 movie-input">
  <h2>Create a Movie Review</h2>
    <form ng-submit="addReview()">
      <input type="text" ng-model="reviewTitle" class="form-control" placeholder="Name of movie...."></input> <br>
      <textarea ng-model="reviewMovie" rows="8" class="form-control" placeholder="Place your review here..."></textarea> <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
